[submodule "Database-I-Project-Code"]
	url = https://github.com/AlejandroEN/Database-I-Project-Code.git
[submodule "Database-I-Project-LaTex"]
	url = https://github.com/AlejandroEN/Database-I-Project-LaTex.git
[submodule "Database-I-Project-Frontend"]
	path = Database-I-Project-Frontend
	url = https://github.com/AlejandroEN/Database-I-Project-Frontend.git
